.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 2px;
  justify-content: center;
}

.gridItems {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: burlywood;
  color: white;
  border: 1px solid black;
}
